[submodule "vimfiles/bundle/fsharp-vim"]
	path = vimfiles/bundle/fsharp-vim
	url = https://github.com/kongo2002/fsharp-vim.git
[submodule "vimfiles/bundle/golden-ratio"]
	path = vimfiles/bundle/golden-ratio
	url = https://github.com/roman/golden-ratio.git
[submodule "vimfiles/bundle/mru"]
	path = vimfiles/bundle/mru
	url = https://github.com/yegappan/mru.git
[submodule "vimfiles/bundle/omnisharp-vim"]
	path = vimfiles/bundle/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim.git
[submodule "vimfiles/bundle/supertab"]
	path = vimfiles/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vimfiles/bundle/syntastic"]
	path = vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vimfiles/bundle/tabular"]
	path = vimfiles/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vimfiles/bundle/tcomment_vim"]
	path = vimfiles/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vimfiles/bundle/tlib_vim"]
	path = vimfiles/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vimfiles/bundle/unite.vim"]
	path = vimfiles/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "vimfiles/bundle/vim-addon-mw-utils"]
	path = vimfiles/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vimfiles/bundle/vim-dispatch"]
	path = vimfiles/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vimfiles/bundle/vim-easymotion"]
	path = vimfiles/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "vimfiles/bundle/vim-snipmate"]
	path = vimfiles/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vimfiles/bundle/vimwiki"]
	path = vimfiles/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vimfiles/bundle/Colorizer"]
	path = vimfiles/bundle/Colorizer
	url = https://github.com/chrisbra/Colorizer.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/vim-ps1"]
	path = vimfiles/bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vimfiles/bundle/TagBar"]
	path = vimfiles/bundle/TagBar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vimfiles/bundle/delimitMate"]
	path = vimfiles/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vimfiles/bundle/vim-markdown"]
	path = vimfiles/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vimfiles/bundle/vim-test"]
	path = vimfiles/bundle/vim-test
	url = https://github.com/janko-m/vim-test.git
[submodule "vimfiles/bundle/typescript-vim"]
	path = vimfiles/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
